IslServices/Web References/WsQhDevWarr/PCQuoteEngineAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://HastingsDirect.com/qcore/PCQuoteEngineAPI" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="PCQuoteEngineAPI" targetNamespace="http://HastingsDirect.com/qcore/PCQuoteEngineAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://HastingsDirect.com/qcore/PCQuoteEngineAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import schemaLocation="../../../../../../gw/xsd/guidewire/soapheaders.xsd" namespace="http://guidewire.com/ws/soapheaders" />
      <xs:import schemaLocation="../../../../../../com/hastings/integration/aggs/privatecar/xsd/car-quote.xsd" />
      <xs:element name="getAggregatorCarQuote">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="req">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="CarQuoteRequest" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getAggregatorCarQuoteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="BrokerResponse" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getAggregatorCarQuote">
    <wsdl:part name="parameters" element="tns:getAggregatorCarQuote" />
  </wsdl:message>
  <wsdl:message name="getAggregatorCarQuoteResponse">
    <wsdl:part name="parameters" element="tns:getAggregatorCarQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException" />
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication" />
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale" />
  </wsdl:message>
  <wsdl:portType name="PCQuoteEngineAPIPortType">
    <wsdl:operation name="getAggregatorCarQuote">
      <wsdl:input name="getAggregatorCarQuote" message="tns:getAggregatorCarQuote" />
      <wsdl:output name="getAggregatorCarQuoteResponse" message="tns:getAggregatorCarQuoteResponse" />
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PCQuoteEngineAPISoap12Binding" type="tns:PCQuoteEngineAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAggregatorCarQuote">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="getAggregatorCarQuote">
        <soap12:body use="literal" />
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal" />
      </wsdl:input>
      <wsdl:output name="getAggregatorCarQuoteResponse">
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PCQuoteEngineAPISoap11Binding" type="tns:PCQuoteEngineAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAggregatorCarQuote">
      <soap11:operation soapAction="" style="document" />
      <wsdl:input name="getAggregatorCarQuote">
        <soap11:body use="literal" />
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal" />
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal" />
      </wsdl:input>
      <wsdl:output name="getAggregatorCarQuoteResponse">
        <soap11:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault use="literal" name="WsiAuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PCQuoteEngineAPI">
    <wsdl:port name="PCQuoteEngineAPISoap12Port" binding="tns:PCQuoteEngineAPISoap12Binding">
      <soap12:address location="http://tst-gw-devwar04.test.hastings.local:9080/pc/ws/com/hastings/integration/aggs/privatecar/qcore/PCQuoteEngineAPI" />
      <gwwsdl:address location="${pc}/ws/com/hastings/integration/aggs/privatecar/qcore/PCQuoteEngineAPI" />
    </wsdl:port>
    <wsdl:port name="PCQuoteEngineAPISoap11Port" binding="tns:PCQuoteEngineAPISoap11Binding">
      <soap11:address location="http://tst-gw-devwar04.test.hastings.local:9080/pc/ws/com/hastings/integration/aggs/privatecar/qcore/PCQuoteEngineAPI/soap11" />
      <gwwsdl:address location="${pc}/ws/com/hastings/integration/aggs/privatecar/qcore/PCQuoteEngineAPI/soap11" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>